---
layout: layout-page.njk
title: Página de Acerca
description: Meta descripción de la página de acerca
---

<div class="container-fluid text-center text-white  p-4"  style="background-color: #ad0707 ;">
<h1>{{ title }}</h1>
</div>

<div class="container my-5 text-white" data-searchable>
  <section class="row g-5">
   <article class="col-12 col-lg-6  text-center">
     <h2> Programación I </h2>
    <p>📚 La materia correspondiente a este proyecto es <strong>Programación I</strong>. En ella, hemos explorado el flujo de trabajo de Git, comandos básicos, y lenguajes como HTML y CSS. Además, aprendimos a trabajar con frameworks como Bootstrap y 11ty, herramientas clave que me permitieron llevar a cabo este proyecto con creatividad y técnica. 🚀</p>
   </article>
    <article class="col-12 col-lg-6  text-center">
      <h2> Proyecto Final </h2>
     <p> <p>🕸️ Mi proyecto final consta de una <strong>wiki</strong> sobre las películas <em>Spider-Man: Into the Spider-Verse</em> y <em>Spider-Man: Across the Spider-Verse</em>. En ella, encontrarás información clave sobre los personajes: sus historias, habilidades, pasados y lo que los inspira a seguir adelante. 🌟 El propósito de este proyecto es dar a conocer el fascinante universo de los Spider-People y conectar a los fans con estas increíbles historias. 🕷️</p>
</p> 
<br><br><br>
   </article>
 <article class="col-12 text-center" >
      <h2> Luis Arroyo </h2>
<p>
🎓 Soy estudiante de primer semestre de Ingeniería en Ciberseguridad en la Universidad de Amerike, campus CDMX, ubicada en la colonia Del Valle. Me apasiona aprender cosas nuevas y desentrañar cómo funcionan las cosas a mi alrededor. 🌐 Mi curiosidad innata me lleva a hacerme preguntas sobre todo lo que me rodea, siempre buscando respuestas y conexiones. 🚀 ¡Explorar, entender y descubrir son mi motor diario!
</p>
  </article>
 </section>
</div>

<div class="container-fluid text-center p-4"  style="background-color: #000000 ;" >
<img src="/img/acerca1.jpg" alt="letras Spiderman" class="img-fluid" >
</div>

