---
layout: layout-page.njk
title: Artículos de Blog 
descripction: Meta descripción de la página de Articulos
---

<div class="container-fluid  text-white text-center p-4" style="background-color: #870404 ;" >
 <h1>{{ title }}</h1>
</div>

<br><br><br>

<div class="container text-white text-center">
  <section class="row">
    <article class="col-12 col-lg-6 p-4" style="background-color:#092f72 ;" >
      <h2> Spider-People </h2> 
      <br>
      {% for post in collections.spidy %}
        <li><a href="{{ post.url }}"> {{ post.data.title }}</a></li>
      {% endfor %}
    </article>
    <article class="col-12 col-lg-6 p-4" style="background-color:#26212c ;" >
      <h2> Villanos </h2>
      <br> 
      {% for post in collections.villano %}
        <li><a href="{{ post.url }}"> {{ post.data.title }}</a></li>
      {% endfor %}
    </article> 
 </section>
</div>

 <video autoplay muted loop>
        <source src="/img/video1.mp4" type="video/mp4">
    </video>